.header {
  min-height: 74px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__image {
  max-width: 173px;
}

@media screen and (max-width: 645px) {
  .header__image {
    max-width: 126px;
    margin-left: 27px;
  }

  .header {
    min-height: 55px;
    width: 100%;
  }
}
