.page {
  margin: auto;
  background-color: black;
  color: white;
  padding-top: 45px;
  overflow-x: hidden !important;
}

.page__section {
  max-width: 880px;
  width: 90%;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 645px) {
  .page {
    padding-top: 28px;
  }
}
